* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

h1,
#description {
    text-align: center;
}

.checkbox-label,
label,
textarea {
    display: block;
    width: 100%;
}

.container {
    background-color: antiquewhite;
    color: black;
    margin: 0 2em;
    padding: 2em;
}

fieldset {
    border: none;
}