/* ---------------------------------------- */
/*                CSS Reset                 */
/* ---------------------------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* body defaults */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* mage images easier */
img,
picture {
    max-width: 100%;
    display: block;
}

/* form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ---------------------------------------- */
/*                  STYLING                 */
/* ---------------------------------------- */

body {
    background-color: black;
    color: white;
}

h1,
#description {
    text-align: center;
}

.checkbox-label,
label,
textarea {
    display: block;
    width: 100%;
}

.form-container {
    background-color: antiquewhite;
    color: black;
    max-width: 700px;
    margin: 0 auto;
}

fieldset {
    border: none;
}