* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.checkbox-label,
label,
textarea {
    display: block;
    width: 100%;
}

.container {
    background-color: antiquewhite;
    color: black;
    margin: 0 2em;
    padding: 2em;
}